@font-face {
  font-family: "Encode Sans Condensed";
  src: local("Encode Sans Condensed"), url("./assets/fonts/EncodeSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Encode Sans Condensed";
  src: local("Encode Sans Condensed"), url("./assets/fonts/EncodeSansCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  padding: 20px 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
  color: #000;
}